@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'MontserratAlternates';
    src: url('public/fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
